/* app/styles/layout.css */

html, body {
  height: 100%; /* Make sure html and body take up the full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw; /* Full viewport width */
  min-height: 100vh; /* Minimum viewport height */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default paddings */
  overflow: auto; /* Add scrollbar if content overflows */
}
  
.header {
  padding: 0px;
  text-align: center;
}
  
.content {
  flex-grow: 1;
  padding: 5px; /* This padding contributes to the overall height, which can push the footer out of view */
  overflow: auto; /* Add scrollbar to content if it overflows */
}
  
.footer {
  text-align: center;
  padding: 0px; /* Ensure this padding does not push the footer out of view */
}

/* Main Title Text */
/* Text main title */
.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  }
