/* app/styles/page.css */

/* Reset default margin and padding */
/* body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
  } */
  
  /* Set a background color for the page */
body {
    background-color: #ffffff;
  }
  
/* main-content */
/* Updated main-content */
.main-content {
  width: 85vw;
  height: 100%; /* Set height to 100% of its parent */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: space-between; /* Distribute space between children */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

  /* Chat Texåt */
  /* Text for chat history */
  .welcome-text-container {
    width: 60%;
    position: relative; /* This makes it the reference point for absolutely positioned children */
    display: flex; /* Use flex layout to align children */
    justify-content: center;
    margin-bottom: auto; /* Push everything else down */
  }
  
.welcome-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color:#696969;
  }

  /* ========= */
  /* ================ Chat Interface ================ */
  /* ========= */

  /* chat-interface */
  /* General chat interface where the user sends input and receives responses */
  /* .chat-interface {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 90%;
    align-items: center;
  } */
  
  /* ============= */
  /* ============= CHAT WINDOW ============= */
  /* ============= */

  /* chat-window */
  /* Where user sent input and system responses are displayed. */
  .chat-window {
    display: flex; /* Keeps Flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    align-items: flex-start; /* Aligns items to the left */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px; /* Set the maximum height for the chat window */
    overflow-y: auto; /* Enable vertical scrolling if there is overflow */
  }  

  /* ============= */
  /* ============= TEXT ============= */
  /* ============= */

  /* Button Text */
  /* Text for the buttons */
  .button-text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.00938em;
  }
  
  .active-thread {
    background-color: #f0f0f0; /* Or any other highlight color */
    /* Other styles for active thread */
  }
